<!DOCTYPE html>
<!-- base.html -->
<html>
    <head>
		{% block head %}{% include 'head.html' %}{% endblock %}
	</head>
	<body>
        {% block navigation %}{% include 'nav.html' %}{% endblock %}
		{% block content %}{% endblock %}
        {% block footer %}{% include 'footer.html' %}{% endblock %}
