    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript" ></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript" ></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload.min.js' type="text/javascript" ></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.iframe-transport.min.js' type="text/javascript" ></script>
    <script src='/static/js/jquery.cloudinary.js' type="text/javascript" ></script>
    <script src="/static/js/main.js" type="text/javascript" ></script>
    <script type="text/javascript">
        $.cloudinary.config({
            "api_key":"{{ cloudinary.api_key }}",
            "cloud_name":"{{ cloudinary.cloud_name }}",
        });
    </script>
