{% extends "profile.html" %}

{% block user_account_start %}
    <form method="POST" action="/profile/edit" id="profile_edit_form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
{% endblock %}

{% block user_display_name %}
    <input type="text" name="display_name" class="display_name" value="{{ current_user.display_name }}" placeholder="">
{% endblock %}

{% block user_pronouns %}
    <input type="text" name="pronouns" class="pronouns" value="{{ current_user.pronouns }}" placeholder="she / they / ze / etc...">
{% endblock %}

{% block user_description %}
    <input type="text" name="description" class="description" value="{{ current_user.description }}" placeholder="Some words about yourself">
{% endblock %}

{% block user_profile_picture %}
    <article class='post'>
        <input id="profile_picture_upload_input" type="file" name="file" class="img_upload profile_picture cloudinary-fileupload" data-cloudinary-field="profile_picture" data-form-data='{{ profile_picture_form_data()|tojson }}'/>
        <input type="hidden" name="profile_picture">
        <p class="upload_status"></p>
        <progress max="100" style="display: none;"></progress>
    </article>
{% endblock %}

{% block user_account_end %}
    <input type="submit" value="Update profile" />
    </form>
{% endblock %}

{% block timeline %}{# don't need a timeline on the edit page #}{% endblock %}
