{% for line in timeline %}
{% if line.post.content %}
<div class='post h-entry'>
    <div class='middle'>
        <a class='middle' href='/u/{{ line.user.username }}'><img class='avatar img-mid ' src="{{ line.user.profile_picture }}" alt='{{ line.user.username}}s Avatar'></a>
        <div class='post-meta-top'>
            <span class="p-author h-card"><a class='middle u-url' href='/u/{{ line.user.username }}'>
                <span class='display-name p-name'>{{ line.user.display_name }}</span>
                <span class='pronouns subtext '>(<span class='x-pronoun-nominative'>{{ line.user.pronouns }}</span>)</span>
            </a>
            </span>
            <br>
            <a class='subtext u-url' href='/u/{{ line.user.username }}/post/{{ line.post.post_id }}'><time class="dt-published" datetime="{{line.post.datetime}}">{{ format_time(line.post.datetime) }}</time></a>
            <!-- <span class='subtext'>{{ line.post.visibility }}<i class="fa fa-globe"></i></span> -->
        </div>
    </div>
    <div class='content p-name e-content'>{{ line.post.content }}</div>
    <div class='post-meta-bottom'>
        <div class='post-tags'>
            {# for tag in line.post.tags #}
                <span class="p-category">{{tag}}</span>
            {# endfor #}
        </div>
        {% if line.post.notes %}
            <div class='post-notes'>{{ line.post.notes }}</div>
        {% endif %}
        <div class='post-action-bar'>
            <i class="fa fa-reply"></i>
            <i class="fa fa-retweet"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-ellipsis-h"></i>
        {% if is_current(user) %}
            <!-- edit and delete stuff -->
        {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
